.anime {
  animation: slideIn 6s linear infinite;
}

@keyframes slideIn {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    transform: translateY(-1000px);
  }
}
